* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#map {
  height: 100%;
}

.leaflet-container {
  background: rgba(0, 0, 0, 0.8) !important;
}

#startMeasurement {
  position: absolute;
  width: 50px;
  height: 30px;
  z-index: 10;
  top: 95%;
  left: 96%;
}
